@use '../../scss/global.scss' as *;

// !!! IMPORTANT !!!
// Position 'fixed' doesn't work if some of the parents has 'transorm' applied!

.modal_ctn {
   position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, .5);
    z-index: 101;
    
    .modal {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 80%;
        max-width: 460px;
        max-height: calc(100% - 2 * calc($header-height * 4 / 3));
        padding: 1.5rem 1rem 1rem;
        border-radius: 8px;
        text-align: left;
        background-color: var(--primary-color);

        @media screen and (min-width: $tablet){
            max-width: 500px;
            padding: 2rem;
        }

        .close_btn {
            position: absolute;
            top: -36px;
            left: 50%;
            transform: translateX(-50%);
            border: none;
            font-size: 30px;
            color: white;
            background-color: transparent;
        }

        > * {
            overflow-y: auto;
            white-space: break-spaces;
            word-break: break-word;
        }
    }
}