@use './scss/global.scss' as *;
@use './scss/themes.scss' as *;

/* ------------------------ GENERAL ------------------------ */
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html {
   font-size: 62.5%;
}

body{
   font-family: $main-font;  
   font-size: 1.6rem;
   background-color: var(--primary-color);
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   
   > div { // "root"
      min-height: 100vh; // footer always at the bottom
      display: flex;
      flex-direction: column;

      main {
         text-align: center;
      }
   }
}

/* ------------ HEADINGS ------------- */
h1, h2, h3 {
   display: block;
   font-family: $title-font;
   font-weight: 500;
   color: var(--tertiary-color-1);
}

h1 {
	font-size: 3.6rem;
   text-transform: uppercase;
   margin: 2.6rem 0;
}

h2 {
	font-size: 2.8rem;
   margin: 2rem 0;
}

h3 {
	font-size: 2.2rem;
   margin: 1.6rem 0;
}

/* ------------- OTHERS -------------- */
a {
   display: inline-block;
   font-weight: 500;
   text-decoration: none;
}

li {
   list-style: none;
}

p {
   margin: 1rem 0;
}

img {
   display: block;
   width: 100%;
   max-height: 100%;
}

button {
   display: inline-block;
   user-select: none;
   &:hover {
      cursor: pointer;
   }
}

/* ---------- FORM ELEMENTS ----------- */
input,
select,
textarea {
	display: inline-block;
   border: none;
   font-family: $main-font; 
}
textarea {
	display: block;
   resize: none;
}

::placeholder {
   font-weight: 400;
	color: var(--darkshade-color-1); 
}