@use '../../scss/global' as *;

.db {
   width: 100%;
   height: 100%;
   padding-bottom: 2rem;

   button {
      border: none;
      font-weight: 600;
   }
   
   > h2 {
      margin-top: 0;
      text-align: center;
   }

   .list {
      padding-left: 2rem;

      .sublist {
         padding-left: 2rem;

         .subsublist {
            padding-left: 2rem;
         }
      }
   }
}