@use '../../scss/global.scss' as *;

.status_section {
   display: inline-block;
   padding: .5rem;
   outline: 1px solid grey;
   box-shadow: 3px 3px 6px 2px var(--lightshade-color-1);
   background-color: var(--lightshade-color-3);

   .status_txt_ctn {
      width: 100%;
      height: 100%;
      padding: 1rem;
      border-radius: 8px;
      box-shadow: inset 0 0 5px 2px var(--darkshade-color-2);
      background-color: var(--secondary-color);

      .status_txt {
         width: 100%;
         height: 100%;
         font-family: $status-font;
         font-size: 1.4rem;
         //color: var(--primary-color);
         color: var(--tertiary-color-0);
         text-shadow: 0 0 8px var(--tertiary-color-2), 0 0 16px var(--primary-color);
         background-color: transparent;
         overflow-y: scroll;

         &::-webkit-scrollbar {
            width: 8px;
         }
         &::-webkit-scrollbar-track {
            background: var(--lightgrey-color-1);
         }
         &::-webkit-scrollbar-thumb {
            background: var(--lightgrey-color-2);
            &:hover {
               background: var(--lightgrey-color-3);
            }
         }
      }
   }
}