.piece {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12.5%;
    height: 12.5%;

    > img {
        width: 95%;
        height: 95%;
    }
}