@use '../../global.scss';

.home {

    &_section {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 2rem 1rem 4rem;

        @media screen and (min-width: global.$tablet) {
            flex-direction: row;
            flex-wrap: wrap;
            align-items: flex-start;
            justify-content: center;
            margin: 1rem auto;
            padding: 2rem 4rem;
        }

        .notation_status_ctn {
            display: inline-flex;
            flex-direction: column-reverse;
            margin: 0;
        }
    }
}