@use '../../scss/global.scss' as *;

@mixin button {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 20px;
   margin: 0 5px;
   border: 1px solid var(--tertiary-color-3);
   border-radius: 2px;
   box-shadow: 2px 2px 2px var(--darkshade-color-2);
   text-transform: uppercase;
   -webkit-user-select: none;       
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none; 
   transition: all .4s;
}

.notation_section {
   display: inline-flex;
   flex-direction: column;
   margin: 2rem 1rem;
   outline: 1px solid grey;
   box-shadow: 4px 4px 8px 2px var(--darkshade-color-1);
   @media screen and (min-width: $tablet) {
      width: 730px;
      margin: 0 1rem 0 2rem;
   }

   .control_panel {
      background-color: var(--lightshade-color-4);

      .control_ctn {
         display: flex;
         justify-content: space-between;
         margin: 10px 5px;

         & + .control_ctn {
            margin-top: .5rem;
         }

         .open_btn,
         button {
            @include button;
            padding: 0 6px;
            font-weight: 600;
            font-size: 1.4rem;
            letter-spacing: 1px;
            color: var(--tertiary-color-3);
            background-color: var(--lightshade-color-4);

            @media screen and (min-width: $tablet) {
               font-size: 1.4rem;
            }
         }

         .functions_btn {
            display: flex;
            align-items: center;

            .open_btn {
               color: rgb(109, 75, 0);

               &::file-selector-button {
                  &::content {
                     content: "OPEN";
                  } 
                  background-color: $green-color-0;
               }
   
               > span {
                  display: none;
               }
            }
   
            .load_btn {
               color: var(--tertiary-color-3);
               &:hover {
                  background-color: var(--tertiary-color-1);
               }
            }

            .clear_btn {
               color: $highlight-color;
            }

            .flip_board_btn {
               color: blue;
            }
         }
      
         .nav_btn {
            display: flex;
            align-items: center;
   
            >button {
               @include button;
               width: 25px;
               margin: 0 4px;
               font-size: 1.4rem;
               color: var(--darkshade-color-2);
               background-color: var(--lightshade-color-2);

               @media screen and (min-width: $tablet) {
                  width: 30px;
                  margin: 0 5px;
               }
            }
         }
      }
   }

   .notation {
      width: 100%;
      padding: 5px;
      
      > textarea {
         width: 100%;
         height: 100%;
         padding: .5rem;
         box-shadow: inset 0 0 4px var(--darkshade-color-1);
         resize: none;
         font-weight: 500;
         font-size: 1.6rem;
      }
   }
}