// ---------------------- Colors ---------------------- //
$primary-color: white;                 
$secondary-color: #1f2722;
$tertiary-color-0: #57e991; 
$tertiary-color-1: #33b065;              
$tertiary-color-2: #329359;   
$tertiary-color-3: #166937;      

$highlight-color: #e71369;    // highlight texts, errors
 
$greengrey-color: #718e7d; 
$lightgreengrey-color: #abc6b6; 
$darkgrey-color-4: #313131;
$darkgrey-color-3: #444;
$darkgrey-color-2: #626262;    // input, textarea, select...
$darkgrey-color-1: #808080;
$lightgrey-color-1: #b3b3b3;  
$lightgrey-color-2: #c3c3c3;   // table cells borders
$lightgrey-color-3: #dfdfdf;   
$lightgrey-color-4: #f3f3f3; // alternate table rows

// ----------------------- Fonts ---------------------- //
$main-font: 'Red Hat Text', sans-serif;      
$title-font: 'Red Hat Text', sans-serif; // for headings
$status-font: 'Chakra Petch', sans-serif;

// ------------ Breakpoints (media queries) ----------- //
$tablet: 768px;
$desktop: 1100px;

// ----------------------- Other ---------------------- //
$header-height: 40px;
$footer-height: 30px;
$chessboard-tablet: 400px;